/* CONTACT SECTION */
.contact-section {
    padding: 160px 0 !important;
    display: flex;
    width: 100%;
    margin: 0rem auto;
    padding: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    /* Para dar fondo y sombra a la seccion completa */
    /* box-shadow: 1px 1px 60px var(--color-gray); */
    /* background-color: var(--color-primary); */ 
  }

  .contact-header {
    text-shadow: 1px 1px 60px var(--color-white);
  }

  
  @media (max-width: 370px) {
    .contact-header {
      font-size: 2rem !important;
    }
  }
  