/* NAVIGATION BAR */
.navbar {
    display: inline-block;
    width: 100%;
    top: 0;
    left: 0; 
    z-index: 10;
    position: fixed;
    background: var(--color-primary);
    background-image: linear-gradient(0deg, var(--color-primary) 25%, var(--color-secondary) 150%);
  }
  
  .navbar-logo {
    border-radius: 50%; 
    box-shadow: 1px 1px 10px var(--color-white);
  }

  .navbar-logo:focus {
    border-radius: 50%; 
    outline: none !important;
    box-shadow: 1px 1px 10px var(--color-white);
  }
  
  .navbar-brand {
    padding-bottom: 0 !important; 
    padding-top: 0 !important;
    margin: 1rem;
  }
  
  .flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .navbar-collapse {
    margin-right: 1rem;
  }  

  /* Estilos para el botón del menú hamburguesa */
  .navbar-toggler {
    color: var(--color-white);
    position: relative;
    width: 30px;
    height: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    margin-right: 1rem;
  }
  
  /* Estilo para el focus en el menú hamburguesa */
  .navbar-toggler:focus {
    box-shadow: 0 0 5px 3px var(--color-white) !important;
  }
  
  .navbar-toggler-line {
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: var(--color-white);
    border-radius: 2px;
    transition: transform 0.2s;
  }
  
  .navbar-toggler::before,
  .navbar-toggler::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--color-white);
    transition: transform 0.2s, opacity 0.2s;
  }
  
  /* Estilo inicial de las líneas del icono "hamburguesa" */
  .navbar-toggler-line {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .navbar-toggler::before {
    top: 25%;
    transform: translateY(0px, -50%);
  }
  
  .navbar-toggler::after {
    bottom: 25% !important;
    transform: translateY(0px, 50%);
  }
  
  /* Estilo de las líneas cuando el menú está abierto */
  .navbar-toggler.active .navbar-toggler-line {
    opacity: 0;
  }
  
  .navbar-toggler.active::before {
    top: 50% !important;
    transform: rotate(405deg) translateY(-50%);
  }
  
  .navbar-toggler.active::after {
    bottom: 50% !important;
    transform: rotate(-405deg) translateY(50%);
  }
  
  /* Estilos para el menú desplegable */
  .navbar-nav {
    text-align: center;
  }
  
  .nav-link {
    margin-left: 1rem;
    font-size: 1.5rem !important;
    padding: 1.2rem !important;
    color: var(--color-white);
    text-decoration: none;
    transition: all 1s ease-in-out;
  }